

/** Sticky Footer Styling **/


* {
  margin: 0;
}

html, body {
  height: 100%;
}

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -4em;
}

/*.footer,*/ .push {
height: 4em;
}


/** Global Styling **/


h1 {
  font-size: 3em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1em;
}

h4 {
  font-size: 0.875em;
}

@media only screen and (min-width : 760px) {
  h1 {
    font-size: 4em;
  }

  h2 {
    font-size: 3em;
  }

  h3 {
    font-size: 2em;
  }
}

h1, h2, h3, h4 {
  font-family: "Josefin Sans", "Futura", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.5;
  letter-spacing: 0.25em;
}

p {
  font-family: "Playfair Display", "Georgia", serif;
  font-size: 1.188em;
  line-height: 1.75;
  color: #212121;
}

p.focus-line {
  font-size: 1.375em;
  line-height: 1.5;
  color: #000000;
}

@media only screen and (min-width: 760px) {
  p.focus-line {
    font-size: 1.5em;
  }
}

.spacer {
  margin-bottom: 10em;
}

.hr {
  margin: 0 auto;
  width: 5em;
  height: 0.25em;
  background-color: #333333;
}

.heading-container .hr {
  margin-top: 1em;
  margin-bottom: 4em;
}

@media only screen and (min-width : 760px) {
  .hr {
    width: 7.5em;
  }
}


/** Header Section **/

.logo {
  z-index: 1;
  position: absolute;
  left: 2em;
  top: 2em;
  width: 100px;
  height: 20px;
  background: url("../img/filament.svg") center no-repeat;
  background-size: 100px;
}

/** Slant on top will show on resolutions higher than 1080p **/

.header .block {
  text-align: center;
  height: 100vh;
  background-color: #F3F3F3;
  position: relative;
  top: -3em;
  left: 0;
  -webkit-transform: skewY(-2.5deg);
  -moz-transform: skewY(-2.5deg);
  -ms-transform: skewY(-2.5deg);
  -o-transform: skewY(-2.5deg);
  transform: skewY(-2.5deg);
}
 
.header .block:before {
  content: '';
  display: inline-block;
  height: 100%; 
  vertical-align: middle;
  margin-right: -0.25em; /* Adjusts for spacing */
    
  /* For visualization 
  background: #808080; width: 5px;
  */
 }
 
.centered {
  display: inline-block;
  vertical-align: middle;
  width: 80%;
  -webkit-transform: skewY(2.5deg);
  -moz-transform: skewY(2.5deg);
  -ms-transform: skewY(2.5deg);
  -o-transform: skewY(2.5deg);
  transform: skewY(2.5deg);

  /* For visualization
  padding: 10px 15px;
  border: #a0a0a0 solid 1px;
  background: #f5f5f5;*/
 }

.centered .hr {
  margin-top: 3em;
  margin-bottom: 4em;
  width: 10em;
  background-color: #f05a3f;
}


/**  About Section **/

.profile {
  margin-top: 7em;
}

.profile .icons {
  max-width: 860px;
  margin: 0 auto;
  margin-top: 4em;
  padding: 0 2em;
}

.profile .icons {
  display: none;
}

.profile .about {
  max-width: 860px;
  margin: 2em auto 0 auto;
  padding: 0 2em;
}

.profile .about a {
  text-decoration: none;
  color: #000000;
}

@media only screen and (min-width : 760px) {
  
  .profile .icons {
    display: block;
  }

  .profile .icons h4 {
    display: inline-block;
    margin: 0 auto 2em auto;
    width: 24.5%;
  }

  .profile .icons h4::before {
    content: '';
    display: block;
    margin: 0 auto 1.25em auto;
    width: 100px;
    height: 32px;
    background-color: #333333;
  }

  .profile .icons h4:nth-child(1)::before {
    background: url("../img/design.svg") center no-repeat;
    background-size: 32px 32px;
  }

  .profile .icons h4:nth-child(2)::before {
    background: url("../img/code.svg") center no-repeat;
    background-size: 42.064px 32px;
  }

  .profile .icons h4:nth-child(3)::before {
    background: url("../img/gears.svg") center no-repeat;
    background-size: 32.147px 32px;
  }

  .profile .icons h4:nth-child(4)::before {
    background: url("../img/leaf.svg") center no-repeat;
    background-size: 32px 32px;
  }

}


/** Portfolio Section **/


.work .portfolio {
  text-align: center;
}

.work .portfolio a {
  display: block;
  margin: 2em auto;
  text-decoration: none;
}

.work .portfolio a span {
  display: block;
  font-family: "Josefin Sans", sans-serif;
}

.work .portfolio a span:first-child {
  z-index: 0;
  font-weight: 700;
  font-size: 1.5em;
  color: #333333;
  opacity: 1;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  -moz-transition: -moz-transform 0.3s, opacity 0.3s;
  -o-transition: -moz-transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
}

.work .portfolio a span:last-child {
  z-index: -1;
  padding: 8px 0 0 0  ;
  font-weight: 700;
  font-size: 0.875em;
  color: #f05a3f;
  opacity: 1;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  -moz-transition: -moz-transform 0.3s, opacity 0.3s;
  -o-transition: -moz-transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
}

@media only screen and (min-width : 760px) {
  .work .portfolio {
    max-width: 1024px;
    margin: 0 auto;
  }

  .work .portfolio a {
    display: inline-block;
    margin-right: 4em;
    margin-left: 4em;
  }

  .work .portfolio a::before {
    content: '';
    position: relative;
    display: block;
    margin-bottom: 1.5em;
    width: 200px;
    height: 200px;
    opacity: 1;
    -webkit-transition: opacity 0.3s;
    -moz-transition: opacity 0.3s;
    -o-transition: opacity 0.3s;
    transition: opacity 0.3s;
  }

 .work .portfolio a:nth-child(1)::before {
    background: #f05a3f url('../img/door.jpg') center no-repeat;
    background-size: 200px 200px;
  }

  .work .portfolio a:nth-child(2)::before {
    background: #f05a3f url('../img/ferris.jpg') center no-repeat;
    background-size: 200px 200px;
  }

  .work .portfolio a:nth-child(3)::before {
    background: #f05a3f url('../img/jump.jpg') center no-repeat;
    background-size: 200px 200px;
  }

  .work .portfolio a:nth-child(4)::before {
    background: #f05a3f url('../img/night.jpg') center no-repeat;
    background-size: 200px 200px;
  }

 .work .portfolio a:nth-child(5)::before {
    background: #f05a3f url('../img/umbrella.jpg') center no-repeat;
    background-size: 200px 200px;
  }

  .work .portfolio a:nth-child(6)::before {
    background: #f05a3f url('../img/windows.jpg') center no-repeat;
    background-size: 200px 200px;
  }

  .work .portfolio a:hover::before,
  .work .portfolio a:focus::before {
    opacity: 0.75;
  }
}

.work .portfolio a:hover span:first-child,
.work .portfolio a:focus span:first-child {
  opacity: 0.75;
  -webkit-transform: translateY(20%);
  -moz-transform: translateY(20%);
  -ms-transform: translateY(20%);
  -o-transform: translateY(20%);
  transform: translateY(20%);
}

.work .portfolio a:hover span:last-child,
.work .portfolio a:focus span:last-child {
  opacity: 0;
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%);
}

/* Modal Window Styling */

.modalDialog {
  position: fixed;
  overflow: scroll;
  font-family: Arial, Helvetica, sans-serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #F9F9F9;
  z-index: 99999;
  opacity:0;
  -webkit-transform: translateY(300%);
  -moz-transform: translateY(300%);
  -ms-transform: translateY(300%);
  -0-transform: translateY(300%);
  transform: translateY(300%);

  -webkit-transition: -webkit-transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
  -moz-transition: -moz-transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
  -ms-transition: -moz-transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
  -o-transition: -moz-transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
  pointer-events: none;
}

.modalDialog:target {
  opacity:1;
  -webkit-transform: translateY(0%);
  -moz-transform: translateY(0%);
  -ms-transform: translateY(0%);
  transform: translateY(0%);
  pointer-events: auto;
}

.modalDialog > div {
  max-width: 80%;
  position: relative;
  margin: 0 auto;
  padding: 7em 0;
}

.modalDialog > div h3 {
  color: #f05a3f;
  margin-top: 0.5em;
  margin-bottom: 3em;
}

.modalDialog .content,
.modalDialog .image {
  display: inline-block;
}

.modalDialog .image {
  padding-top: 5em;
}

.modalDialog .content .hr {
  background-color: #FF8835;
  width: 100%;
}

.modalDialog .content .content-type {
  margin: 0.75em 0;
}

.modalDialog .content .content-type h4,
.modalDialog .content .content-type p {
  display: inline-block;
  width: 49.5%;
}

.modalDialog .content .content-type h4 {
  text-align: left;
}

.modalDialog .content .content-type p {
  text-align: right;
  font-size: 1em;
}

@media only screen and (min-width: 760px) {

  .modalDialog > div h3 {
    font-size: 1.5em;
  }

  .modalDialog .content {
    width: 40%;
  }

  .modalDialog .image {
    float: right;
    width: 56%;
    padding-top: 2em;
  }

}

.close {
  position: absolute;
  top: 3em;
  right: 3em;
  height: 4em;
  width: 4em;
  background-color: none;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  -ms-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.close-sign {
  position: absolute;
  top: 45%;
  left: 32%;
  background-color: #333333;
  width: 1.5em;
  height: 0.25em;
  -o-transform: rotate(45deg); /* Opera */
  -moz-transform: rotate(45deg); /* Firefox */
  -ms-transform: rotate(45deg); /* IE 9 */
  -webkit-transform: rotate(45deg); /* Safari */
  transform: rotate(45deg);
  
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  -ms-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.close-sign::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background-color: #333333;
  width: 1.5em;
  height: 0.25em;
  -o-transform: rotate(90deg); /* Opera */
  -moz-transform: rotate(90deg); /* Firefox */
  -ms-transform: rotate(90deg); /* IE 9 */
  -webkit-transform: rotate(90deg); /* Safari */
  transform: rotate(90deg);
  
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  -ms-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.close:hover > .close-sign,
.close:hover > .close-sign::before {
  background-color: #f05a3f;
}

.close:focus {
  background-color: #f05a3f;
}

.close:focus > .close-sign, .close:focus > .close-sign::before {
  background-color: #F9F9F9;
}


/** Footer Styling **/


.contact {
  background: #F3F3F3;
  position: relative;
  height: 11em;
  margin-top: 10em;
}

.contact:before {
  content: '';
  position: absolute;
  left: 0;
  top: -100px;
  width: 100%;
  height: 10em;
  background: #F3F3F3;
  z-index: -1;
  -webkit-transform: skewY(-2.5deg);
  -moz-transform: skewY(-2.5deg);
  -ms-transform: skewY(-2.5deg);
  -o-transform: skewY(-2.5deg);
  transform: skewY(-2.5deg);
}

.contact .email h3 {
  font-size: 1.25em;
  text-transform: none;
  letter-spacing: initial;
}

@media only screen and (min-width : 760px) {
  .contact .email h3 {
    font-size: 2em;
  }
}