body {
  background-color: #F8F8F8;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1em;
}

@media only screen and (min-width : 760px) {
  h1 {
    font-size: 4em;
  }

  h2 {
    font-size: 3em;
  }

  h3 {
    font-size: 2em;
  }
}

h1, h2, h3 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.5;
  letter-spacing: 0.25em;
}

.hr {
  margin: 0 auto;
  width: 5em;
  height: 0.25em;
  background-color: #333333;
}

@media only screen and (min-width : 760px) {
  .hr {
    width: 7.5em;
  }
}

.logo {
  z-index: 1;
  position: absolute;
  left: 2em;
  top: 2em;
  width: 100px;
  height: 20px;
  background: #F3F3F3 url("../img/filament.svg") center no-repeat;
  background-size: 100px;
}

.skew-cover {
  width: 100%;
  height: 5em;
  background-color: #F3F3F3;
}

.header {
  z-index: 1;
  position: relative;
}

.header .skew-cover {
  position: absolute;
  left: 0;
  top: 0;
}

 .header .skew:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  overflow: visible;
  width: 100%;
  height: 91vh;
  background: #F3F3F3;
  z-index: -1;
  -webkit-transform: skewY(-5deg);
  -moz-transform: skewY(-5deg);
  -ms-transform: skewY(-5deg);
  -o-transform: skewY(-5deg);
  transform: skewY(-5deg);
}

.header .block {
  text-align: center;
  height: 100vh;
}
 
.header .block:before {
  content: '';
  display: inline-block;
  height: 100%; 
  vertical-align: middle;
  margin-right: -0.25em; /* Adjusts for spacing */
    
  /* For visualization 
  background: #808080; width: 5px;
  */
 }
 
.centered {
  display: inline-block;
  vertical-align: middle;
  width: 80%;

  /* For visualization
  padding: 10px 15px;
  border: #a0a0a0 solid 1px;
  background: #f5f5f5;*/
 }

.centered .hr {
  margin-top: 3em;
  margin-bottom: 4em;
  width: 10em;
  background-color: #f05a3f;
}

.heading-container .hr {
  margin-top: 1em;
  margin-bottom: 4em;
}

.work .portfolio {
  text-align: center;
}

.work .portfolio a {
  display: block;
  margin: 2em auto;
  text-decoration: none;
}

.work .portfolio a span {
  display: block;
  font-family: "Josefin Sans", sans-serif;
}

.work .portfolio a span:first-child {
  z-index: 0;
  font-weight: 700;
  font-size: 1.5em;
  color: #333333;
  opacity: 1;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  -moz-transition: -moz-transform 0.3s, opacity 0.3s;
  -o-transition: -moz-transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
}

.work .portfolio a span:last-child {
  z-index: -1;
  padding: 8px 0 0 0  ;
  font-weight: 700;
  font-size: 0.875em;
  color: #f05a3f;
  opacity: 1;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  -moz-transition: -moz-transform 0.3s, opacity 0.3s;
  -o-transition: -moz-transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
}

.work .portfolio a:hover span:first-child,
.work .portfolio a:focus span:first-child {
  opacity: 0.75;
  -webkit-transform: translateY(20%);
  -moz-transform: translateY(20%);
  -o-transform: translateY(20%);
  transform: translateY(20%);
}

.work .portfolio a:hover span:last-child,
.work .portfolio a:focus span:last-child {
  opacity: 0;
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%);
}