

/* ==============
   Global Styling 
   ============== */


/* === Text Styles === */

h1 {
  font-size: 2.25em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1em;
}

h4 {
  font-size: 0.875em;
}

@media only screen and (min-width : 760px) {
  h1 {
    font-size: 4em;
  }

  h2 {
    font-size: 3em;
  }

  h3 {
    font-size: 2em;
  }
}

h1, h2, h3, h4 {
  font-family: "Josefin Sans", "Futura", sans-serif;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.5;
  letter-spacing: 0.25em;
  color: #333333;
}

p {
  font-family: "Playfair Display", "Georgia", serif;
  font-size: 1.188em;
  line-height: 1.75;
  color: #212121;
}

p.focus-line {
  font-size: 1.375em;
  line-height: 1.5;
  color: #000000;
}

@media only screen and (min-width: 760px) {
  p.focus-line {
    font-size: 1.5em;
  }
}


/* === Link Styles === */

.linkslideup a {
  text-decoration: none;
  color: #212121;
}

.linkslideup a:visited {
  color: #616161;
}

@media only screen and (max-width: 760px) {
  .linkslideup a {
    background-color: rgba(240,90,63,0.25);
  }
  .linkslideup a:active {
    background-color: rgba(240,90,63,0.5);
  }
}

@media only screen and (min-width: 760px) {
   .linkslideup {
    position: relative;
    z-index: 1; /* needed for setting pseudo-element z-index */
  } 

  .linkslideup a {
    position: relative;
    display: inline-block;
    vertical-align: bottom;
    text-decoration: none;
    overflow: hidden;
    white-space: nowrap;
    outline: 0;
  }

  .linkslideup a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(240,90,63,0.25);
    z-index: -1;
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    -o-transition: -o-transform 0.3s;
    -ms-transition: -ms-transform 0.3s;
    transition: transform 0.3s;
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -o-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%);
  }

  .linkslideup a:hover::before,
  .linkslideup a:focus::before {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  .linkslideup a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2.75px;
    background-color: #f05a3f;
    z-index: -1;
  } 
}


/* === Spacing and Dividers === */

.spacer {
  padding-top: 2em;
  margin-bottom: 10em;
}

.hr {
  margin: 0 auto;
  width: 5em;
  height: 0.25em;
  background-color: #333333;
}

.heading-container .hr {
  margin-top: 1em;
  margin-bottom: 4em;
}

@media only screen and (min-width : 760px) {
  .hr {
    width: 7.5em;
  }
}



/* ==================
   Navigation Styling 
   ================== */


/* === Navigation Links === */

nav {
  z-index: 1;
}

nav .links-container {
  display: table;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #F9F9F9;
  z-index: 2;
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -o-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);

  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.215, 0.610, 0.355, 1.000);
  -moz-transition: -moz-transform 0.5s cubic-bezier(0.215, 0.610, 0.355, 1.000);
  -ms-transition: -moz-transform 0.5s cubic-bezier(0.215, 0.610, 0.355, 1.000);
  -o-transition: -moz-transform 0.5s cubic-bezier(0.215, 0.610, 0.355, 1.000);
  transition: transform 0.5s cubic-bezier(0.215, 0.610, 0.355, 1.000);
}

.nav-links {
  display: table-cell;
  vertical-align: middle;
}

.nav-links .logo {
  z-index: 2;
  margin: 0 auto;
  width: 100px;
  height: 20px;
  background: url("../img/filament.svg") center no-repeat;
  background-size: 100px;
}

.nav-links ul {
  padding: 0;
  margin: 2em auto;
  width: 100%;
  text-align: center;
}

.nav-links ul li {
  padding: 10px 30px;
}

.nav-links a {
  font-family: "Josefin Sans", "Futura", sans-serif;
  font-size: 1em;
  line-height: 1.5;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  text-decoration: none;
  color: #212121;

  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  -o-transition: color 0.3s;
  -ms-transition: color 0.3s;
  transition: color 0.3s;
}

nav .links-container .nav-active,
nav .links-container a:focus {
  color: #f05a3f;
}

/* === Menu Icon === */

nav .menu {
  z-index: 3;
  position: fixed;
  top: 1em;
  right: 1em;
  height: 4em;
  width: 4em;
  background-color: none;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  /*outline: 0;*/ /* Will add it back once I add focus styles */ 
  
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  -ms-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.hamburger, .hamburger::before, .hamburger::after {
  position: absolute;
  background-color: #333333;
  width: 2em;
  height: 0.2em;
  
  -webkit-transition: -webkit-transform 0.3s, background-color 0.3s;
  -moz-transition: -moz-transform 0.3s, background-color 0.3s;
  -o-transition: -o-transform 0.3s, background-color 0.3s;
  -ms-transition: -ms-transform 0.3s, background-color 0.3s;
  transition: transform 0.3s, background-color 0.3s;
}

.hamburger {
  top: 45%;
  left: 25%;
}

.hamburger::before, .hamburger::after {
  content: '';
  left: 0;
}

.hamburger::before {
  -webkit-transform: translateY(-9px);
  -moz-transform: translateY(-9px);
  -o-transform: translateY(-9px);
  -ms-transform: translateY(-9px);
  transform: translateY(-9px);
}

.hamburger::after {
  -webkit-transform: translateY(9px);
  -moz-transform: translateY(9px);
  -o-transform: translateY(9px);
  -ms-transform: translateY(9px);
  transform: translateY(9px);
}

/** Visible/Invisible Menu Icon States **/

.menu .origin-left {
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  -ms-transform-origin: left center;
  transform-origin: left center;
}

.menu.hidden {
  pointer-events: none;
}

.hidden .hamburger {
  -webkit-transform-origin: right center;
  -moz-transform-origin: right center;
  -o-transform-origin: right center;
  -ms-transform-origin: right center;
  transform-origin: right center;
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  -o-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
}

/** Active/Inactive Menu and Navbar States **/

.is-active > .hamburger {
  background-color: transparent;
  -webkit-transform-origin: center center;
  -moz-transform-origin: center center;
  -o-transform-origin: center center;
  -ms-transform-origin: center center;
  transform-origin: center center;
}

.is-active > .hamburger::before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.is-active > .hamburger::after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.is-active ~ .links-container {
  -webkit-transform: translateX(0%);
  -moz-transform: translateX(0%);
  -o-transform: translateX(0%);
  -ms-transform: translateX(0%);
  transform: translateX(0%);
}

@media only screen and (min-width: 760px) {
  nav .menu {
    top: 1em;
    right: 1em;
  }

  nav .links-container {
    height: 6em;
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -o-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%);
  }

  .nav-links a {
    font-size: 1em;
  }

  nav .links-container, .nav-links ul {
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
  }

  .nav-links .logo {
    display: none;
  }

  .nav-links ul {
    top: 1.5em;
    margin: 0 auto;
    -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.215, 0.610, 0.355, 1.000);
    -moz-transition: -moz-transform 0.5s cubic-bezier(0.215, 0.610, 0.355, 1.000);
    -ms-transition: -moz-transform 0.5s cubic-bezier(0.215, 0.610, 0.355, 1.000);
    -o-transition: -moz-transform 0.5s cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition: transform 0.5s cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  .nav-links ul li {
    display: inline-block;
  }

  .nav-links a:hover {
    color: #f05a3f;
  }

  .is-inactive:hover > .hamburger::before {
    -webkit-transform: translateY(-11px);
    -moz-transform: translateY(-11px);
    -o-transform: translateY(-11px);
    -ms-transform: translateY(-11px);
    transform: translateY(-11px);
  }

  .is-inactive:hover > .hamburger::after {
    -webkit-transform: translateY(11px);
    -moz-transform: translateY(11px);
    -o-transform: translateY(11px);
    -ms-transform: translateY(11px);
    transform: translateY(11px);
  }

  .is-active ~ .links-container {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  .is-active ~ .links-container ul {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}



/* ===============
   Header Stylings 
   =============== */


/* === Fullscreen Header with Centered Content === */


/* Slant on top will show on resolutions higher than 1080p */
.header .block {
  text-align: center;
  height: 100vh;
  background-color: #F3F3F3;
  position: relative;
  top: -3em;
  left: 0;
  -webkit-transform: skewY(-2.5deg);
  -moz-transform: skewY(-2.5deg);
  -ms-transform: skewY(-2.5deg);
  -o-transform: skewY(-2.5deg);
  transform: skewY(-2.5deg);
}
 
.header .block:before {
  content: '';
  display: inline-block;
  height: 100%; 
  vertical-align: middle;
  margin-right: -0.25em; /* Adjusts for spacing */
    
  /* For visualization 
  background: #808080; width: 5px;
  */
 }
 
.centered {
  display: inline-block;
  vertical-align: middle;
  width: 80%;
  -webkit-transform: skewY(2.5deg);
  -moz-transform: skewY(2.5deg);
  -ms-transform: skewY(2.5deg);
  -o-transform: skewY(2.5deg);
  transform: skewY(2.5deg);

  /* For visualization
  padding: 10px 15px;
  border: #a0a0a0 solid 1px;
  background: #f5f5f5;*/
 }

.centered .hr {
  margin-top: 2em;
  margin-bottom: 3em;
  width: 10em;
  background-color: #f05a3f;
}

@media only screen and (min-width: 990px) {
  header .logo {
    z-index: 1;
    position: absolute;
    left: 2em;
    top: 2em;
    width: 100px;
    height: 20px;
    background: url("../img/filament.svg") center no-repeat;
    background-size: 100px;
  }
}


/* =============
   About Styling 
   ============= */


.profile {
  margin-top: 7em;
}

.profile .icons {
  display: none;
  max-width: 860px;
  margin: 0 auto;
  margin-top: 4em;
  padding: 0 2em;
}

.profile .about {
  max-width: 860px;
  margin: 2em auto 0 auto;
  padding: 0 2em;
}

@media only screen and (min-width : 760px) {
  
  .profile .icons {
    display: block;
  }

  .profile .icons h4 {
    display: inline-block;
    margin: 0 auto 2em auto;
    width: 24.5%;
  }

  .profile .icons h4::before {
    content: '';
    display: block;
    margin: 0 auto 1.25em auto;
    width: 100px;
    height: 32px;
    background-color: #333333;
  }

  .profile .icons h4:nth-child(1)::before {
    background: url("../img/design.svg") center no-repeat;
    background-size: 32px 32px;
  }

  .profile .icons h4:nth-child(2)::before {
    background: url("../img/code.svg") center no-repeat;
    background-size: 42.064px 32px;
  }

  .profile .icons h4:nth-child(3)::before {
    background: url("../img/gears.svg") center no-repeat;
    background-size: 32.147px 32px;
  }

  .profile .icons h4:nth-child(4)::before {
    background: url("../img/leaf.svg") center no-repeat;
    background-size: 32px 32px;
  }

}



/* =================
   Portfolio Styling 
   ================= */


.work .portfolio {
  text-align: center;
}

.work .portfolio a {
  display: block;
  margin: 3em auto;
  text-decoration: none;
}

.work .portfolio a span {
  display: block;
  font-family: "Josefin Sans", sans-serif;
}

.work .portfolio a span:first-child {
  z-index: 0;
  font-weight: 700;
  font-size: 1.5em;
  color: #333333;
  opacity: 1;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  -moz-transition: -moz-transform 0.3s, opacity 0.3s;
  -o-transition: -moz-transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
}

.work .portfolio a span:last-child {
  z-index: -1;
  padding: 8px 0 0 0  ;
  font-weight: 700;
  font-size: 0.875em;
  color: #f05a3f;
  opacity: 1;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  -moz-transition: -moz-transform 0.3s, opacity 0.3s;
  -o-transition: -moz-transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
}

@media only screen and (min-width : 760px) {
  .work .portfolio {
    max-width: 1024px;
    margin: 0 auto;
  }

  .work .portfolio a {
    display: inline-block;
    margin-right: 4em;
    margin-left: 4em;
  }

  .work .portfolio a::before {
    content: '';
    position: relative;
    display: block;
    margin-bottom: 1.5em;
    width: 200px;
    height: 200px;
    opacity: 1;
    -webkit-transition: opacity 0.3s;
    -moz-transition: opacity 0.3s;
    -o-transition: opacity 0.3s;
    transition: opacity 0.3s;
  }

 .work .portfolio a:nth-child(1)::before {
    background: #f05a3f url('../img/door.jpg') center no-repeat;
    background-size: 200px 200px;
  }

  .work .portfolio a:nth-child(2)::before {
    background: #f05a3f url('../img/ferris.jpg') center no-repeat;
    background-size: 200px 200px;
  }

  .work .portfolio a:nth-child(3)::before {
    background: #f05a3f url('../img/jump.jpg') center no-repeat;
    background-size: 200px 200px;
  }

  .work .portfolio a:nth-child(4)::before {
    background: #f05a3f url('../img/night.jpg') center no-repeat;
    background-size: 200px 200px;
  }

 .work .portfolio a:nth-child(5)::before {
    background: #f05a3f url('../img/umbrella.jpg') center no-repeat;
    background-size: 200px 200px;
  }

  .work .portfolio a:nth-child(6)::before {
    background: #f05a3f url('../img/windows.jpg') center no-repeat;
    background-size: 200px 200px;
  }

  .work .portfolio a:hover::before,
  .work .portfolio a:focus::before {
    opacity: 0.75;
  }
}

.work .portfolio a:hover span:first-child,
.work .portfolio a:focus span:first-child {
  opacity: 0.75;
  -webkit-transform: translateY(20%);
  -moz-transform: translateY(20%);
  -ms-transform: translateY(20%);
  -o-transform: translateY(20%);
  transform: translateY(20%);
}

.work .portfolio a:hover span:last-child,
.work .portfolio a:focus span:last-child {
  opacity: 0;
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%);
}

/* Disable scrolling when modal window is open */
.modal-open {
  overflow-y: hidden; 
}


/* === Modal Window Styling === */

.modalDialog {
  position: fixed;
  overflow: scroll;
  font-family: Arial, Helvetica, sans-serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #F9F9F9;
  z-index: 99999;
  /*opacity:0;*/
  -webkit-transform: translateY(200%);
  -moz-transform: translateY(200%);
  -ms-transform: translateY(200%);
  -0-transform: translateY(200%);
  transform: translateY(200%);

  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.215, 0.610, 0.355, 1.000), opacity 0.3s;
  -moz-transition: -moz-transform 0.5s cubic-bezier(0.215, 0.610, 0.355, 1.000), opacity 0.3s;
  -ms-transition: -moz-transform 0.5s cubic-bezier(0.215, 0.610, 0.355, 1.000), opacity 0.3s;
  -o-transition: -moz-transform 0.5s cubic-bezier(0.215, 0.610, 0.355, 1.000), opacity 0.3s;
  transition: transform 0.5s cubic-bezier(0.215, 0.610, 0.355, 1.000), opacity 0.3s;
  pointer-events: none;
}

.modalDialog:target {
  /*opacity:1;*/
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  pointer-events: auto;

  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.215, 0.610, 0.355, 1.000), opacity 0.5s;
  -moz-transition: -moz-transform 0.5s cubic-bezier(0.215, 0.610, 0.355, 1.000), opacity 0.5s;
  -ms-transition: -moz-transform 0.5s cubic-bezier(0.215, 0.610, 0.355, 1.000), opacity 0.5s;
  -o-transition: -moz-transform 0.5s cubic-bezier(0.215, 0.610, 0.355, 1.000), opacity 0.5s;
  transition: transform 0.5s cubic-bezier(0.215, 0.610, 0.355, 1.000), opacity 0.5s;
}

.modalDialog .modalContent {
  position: relative;
  margin: 0 auto;
  padding: 7em 0;
  max-width: 80%;
}

.modalContent .heading-container h2 {
  color: #f05a3f;
  margin-top: 0.5em;
  margin-bottom: 4em;
}

.responsive-hero {
  width: 50%;
  margin: 0 auto;
  margin-bottom: 5em;
}

.responsive-hero img {
  width: 100%;
}

.content, .portfolio-info {
  display: inline-block;
  width: 100%;
}

.portfolio-info h4 {
  text-align: left;
}

.portfolio-info p {
  margin: 0;
}

.modalContent .hr {
  margin: 3em auto;
}

.color-content, .font-content, .landing-content {
  margin-bottom: 2em;
}

.color-img img, .font-img img, .landing-img img {
  width: 100%;
}

.color-img, .font-img, .landing-img,
.color-content p, .font-content p, .landing-content p {
  width: 75%;
  margin: 0 auto;
}

.content-type {
  display: inline-block;
  width: 25%;
}

.close {
  position: absolute;
  top: 2em;
  right: 3em;
  height: 4em;
  width: 4em;
  background-color: transparent;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  -ms-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.close-icon, .close-icon::before {
  position: absolute;
  background-color: #333333;
  width: 2em;
  height: 0.2em;

  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  -ms-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.close-icon {
  top: 47%;
  left: 27%;
  -o-transform: rotate(45deg); /* Opera */
  -moz-transform: rotate(45deg); /* Firefox */
  -ms-transform: rotate(45deg); /* IE 9 */
  -webkit-transform: rotate(45deg); /* Safari */
  transform: rotate(45deg);
}

.close-icon::before {
  content: '';
  top: 0;
  left: 0;
  -o-transform: rotate(90deg); /* Opera */
  -moz-transform: rotate(90deg); /* Firefox */
  -ms-transform: rotate(90deg); /* IE 9 */
  -webkit-transform: rotate(90deg); /* Safari */
  transform: rotate(90deg);
}

.close:focus,
.close:hover > .close-icon,
.close:hover > .close-icon::before {
  background-color: #f05a3f;
}

.close:focus > .close-icon, .close:focus > .close-icon::before {
  background-color: #F9F9F9;
}

/* === Loading Animation in Modal Window === */

.load-container {
  display: table;
  width: 100%;
  height: 100%;
}

.loader {
  display: table-cell;
  vertical-align: middle;
}

.spinner {
  width: 40px;
  height: 40px;
  margin: 100px auto;
  background-color: #f05a3f;

  border-radius: 100%;  
  -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
  animation: sk-scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes sk-scaleout {
  0% { -webkit-transform: scale(0) }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes sk-scaleout {
  0% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 100% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
    opacity: 0;
  }
}

@media only screen and (min-width: 760px) {

  .modalDialog .modalContent {
    padding: 5em 0;
  }

.modalContent h1 {
  font-size: 3em;
}

.modalContent h2 {
    font-size: 1.5em;
  }

  .modalDialog .content {
    width: 80%;
  }

  .portfolio-info {
    float: right;
    width: 15%;
    padding-top: 2em;
  }

  .content-type {
    display: block;
    width: 100%;
    margin: 2em;
  }

}


/* ==============
   Footer Styling 
   ============== */


.contact {
  background: #F3F3F3;
  position: relative;
  height: 11em;
  margin-top: 10em;
}

.contact:before {
  content: '';
  position: absolute;
  left: 0;
  top: -100px;
  width: 100%;
  height: 10em;
  background: #F3F3F3;
  z-index: -1;
  -webkit-transform: skewY(-2.5deg);
  -moz-transform: skewY(-2.5deg);
  -ms-transform: skewY(-2.5deg);
  -o-transform: skewY(-2.5deg);
  transform: skewY(-2.5deg);
}

.contact .email h3 {
  text-transform: none;
  letter-spacing: initial;
  font-size: 1.25em;
}

@media only screen and (min-width : 760px) {
  .contact .email h3 {
    font-size: 2em;
  }
}